<!DOCTYPE html>

<html lang="en">
<link rel="stylesheet" type="text/css" href="style.css"/>
	
<body>

<div class="container" ng-controller="CtrlBuy">
      <form class="form-inline" method="post">
        <h3 class="form-heading">Buy a book:</h3>
        <div class="form-group">
        	<label for="name">Name:</label>
        	<input type="text" class="form-control" placeholder="Name" id="name" maxlength="10" required autofocus ng-model="name">
        </div><br>
            <div class="alert alert-danger" id="alert5">
    		<a href="#" class="close" onclick="$('#alert5').hide()">&times;</a>
    		<strong>{{errormsg5}}</strong>
  		</div><br>
        <div class="form-group">
        	<label for="Lname">Last Name:</label>
        	<input type="text" class="form-control" placeholder="Last Name" id="Lname" maxlength="10" required autofocus ng-model="Lname">
        </div><br>
         <div class="alert alert-danger" id="alert6">
    		<a href="#" class="close" onclick="$('#alert6').hide()">&times;</a>
    		<strong>{{errormsg5}}</strong>
  		</div><br>
        <div class="form-group">
			<label for="Card">Select credit card:</label>
			<select ng-model="myCard">
    			
    			<option value="visa">Visa 
    			<option value="isra">Isracard
    			<option value="cal">Cal
   			 	<option value="american">American Express
			</select>
		</div>
		 <br>
        <div class="form-group">
        	<label for="ccn">Credit card number:</label>
        	<input type="text" class="form-control" placeholder="Credit card number" id="ccn" maxlength="10" required autofocus ng-model="ccn">
        </div><br>
       <div class="alert alert-danger" id="alert2">
    		<a href="#" class="close" onclick="$('#alert2').hide()">&times;</a>
    		<strong>{{errormsg2}}</strong>
  		</div><br>
        <div class="form-group">
        	<label for="vm">Validity month:</label>
        	<select ng-model="validityMonth">
    			
    			<option value="1">January
    			<option value="2">February
    			<option value="3">March
   			 	<option value="4">April
   			 	<option value="5">May
   			 	<option value="6">June
   			 	<option value="7">July
   			 	<option value="08">August
   			 	<option value="09">September
   			 	<option value="10">October
   			 	<option value="11">November
   			 	<option value="12">December
			</select>        	
        </div>
        <br>
        <div class="form-group">
        	<label for="vm">Validity year:</label>
        	<select ng-model="validityYear">
    			<option value="">
    			<option value="2018">2018
    			<option value="2019">2019
    			<option value="2020">2020
   			 	<option value="2021">2021
   			 	<option value="2022">2022
   			 	<option value="2023">2023
   			 	<option value="2024">2024
   			 	<option value="2025">2025
   			 	<option value="2026">2026
   			 	<option value="2027">2027
   			 	<option value="2028">2028
   			 	<option value="2029">2029
   			 	<option value="2030">2030
			</select>        	
        </div>
        <br>
      <div class="alert alert-danger" id="alert3">
    		<a href="#" class="close" onclick="$('#alert3').hide()">&times;</a>
    		<strong>{{errormsg3}}</strong>
  		</div><br>
        <div class="form-group">
        	<label for="cvv">CVV:</label>
        	<input type="text" class="form-control" placeholder="CVV" id="cvv" maxlength="3" required autofocus ng-model="cvv">
        </div><br>
        <a href="#" class="close" onclick="$('#alert4').hide()">&times;</a>
    		<strong>{{errormsg4}}</strong>
  		</div><br>
        <div class="form-group">
        	<label for="date">Date:</label>
        	<input type="date" class="form-control" placeholder="Date" id="date"  required autofocus ng-model="date">
        </div><br>
        <div class="alert alert-danger" id="alert1">
    		<a href="#" class="close" onclick="$('#alert1').hide()">&times;</a>
    		<strong>{{errormsg1}}</strong>
  		</div><br>
    
    <button type="submit" class="btn btn-sm btn-primary" ng-click='BuyNow()'>Buy Now</button>
  </form>

</div>


</body>
</html>
