
<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/> -->
	
	<meta charset="UTF-8">
	<title>User Details</title>	
</head>
<body id="registration">
	<div class="container ng-scope"  ng-controller="CtrlDetail">
      <form class="form-inline" method="post">
        <h3 class="form-heading">Your Details</h3>
        <div class="form-group">
        	<label for="name">Name: </label>
        	<input type="text" class="form-control" name="name" placeholder="Name" id="name" maxlength="10" required ng-model="userLogedIn.userName">
        </div><br>
		<div class="alert alert-danger" id="alert1">
    			<a href="#" class="close" onclick="$('#alert1').hide()">&times;</a>
    			<strong>{{errormsg1}}</strong>
  			</div><br>
        <div class="form-group">
        	<label for="nick">Nickname: </label>
        	<input type="text" class="form-control" placeholder="Nickname" id="nick" maxlength="20" required ng-model="userLogedIn.userNickname">
        </div><br>
        <div class="alert alert-danger" id="alert2">
    			<a href="#" class="close" onclick="$('#alert2').hide()">&times;</a>
    			<strong>{{errormsg2}}</strong>
  			</div>
  	 <div class="alert alert-danger" id="alert12">
    			<a href="#" class="close" onclick="$('#alert12').hide()">&times;</a>
    			<strong>{{errormsg12}}</strong>
  			</div><br>
        <div class="form-group">
        	<label for="pwd">Password: </label>
        	<input type="password" name="pass" onkeypress="focusPassword()" class="form-control" placeholder="Password" id="pwd" maxlength="8" required ng-model="userLogedIn.pwd">
        	<div class="form-group" id="out"></div>
        </div><br>
         <div class="alert alert-danger" id="alert3">
    			<a href="#" class="close" onclick="$('#alert3').hide()">&times;</a>
    			<strong>{{errormsg3}}</strong>
  			</div><br>
        <div class="form-group">
        	<label for="desc">Description: </label>
        	<textarea maxlength="300" rows="4" cols="50" class="form-control" id="desc" ng-model="userLogedIn.description"></textarea>
        </div><br>
        <br>
		<div class="form-group">
        	<label for="email">Email: </label>
        	<input type="email"  class="form-control" placeholder="Email" id="email" ng-model="userLogedIn.email" readonly>
        </div><br>
         <div class="alert alert-danger" id="alert5">
    			<a href="#" class="close" onclick="$('#alert5').hide()">&times;</a>
    			<strong>{{errormsg5}}</strong>
  			</div><br>
		<div class="form-group">
        	<label for="phone">Phone Number: </label>
        	<input type="text" name="phone" onkeypress="focusPhone()" class="form-control" id="phone" ng-model="userLogedIn.phoneNumber" required>
        	<div class="form-group" id="outp"></div><br>
        </div><br>
          <div class="alert alert-danger" id="alert4">
    			<a href="#" class="close" onclick="$('#alert4').hide()">&times;</a>
    			<strong>{{errormsg4}}</strong>
  			</div><br>
		<div class="form-group">
			<label for="cntry">Country: </label>
        	<input type="text"  name="country" onkeypress="focusCountry()" class="form-control" id="cntr"  ng-model="userLogedIn.country" required>
			</div>
			<div class="form-group" id="outc"></div><br>
			<div class="alert alert-danger" id="alert6">
    			<a href="#" class="close" onclick="$('#alert6').hide()">&times;</a>
    			<strong>{{errormsg6}}</strong>
  			</div>
			<br>		
		<div class="form-group">	
			<label for="city">City: </label>
        	<input type="text" name="city" onkeypress="focusCity()"class="form-control" id="city" ng-model="userLogedIn.city" required>
			</div>
			<div class="form-group" id="outci"></div><br>	
		<div class="alert alert-danger" id="alert7">
    			<a href="#" class="close" onclick="$('#alert7').hide()">&times;</a>
    			<strong>{{errormsg7}}</strong>
  		</div><br>		
		<div class="form-group">	
			<label for="city">Street: </label>
        	<input type="text" name="street" onkeypress="focusStreet()"class="form-control" id="street" ng-model="userLogedIn.street" required>
			</div>
			<div class="form-group" id="outs"></div><br>
					<div class="alert alert-danger" id="alert8">
    			<a href="#" class="close" onclick="$('#alert8').hide()">&times;</a>
    			<strong>{{errormsg8}}</strong>
  		</div><br>			
		<div class="form-group">
		    <label for="hnum">Number: </label>
        	<input type="text" name="hnumb" onkeypress="focushNumber()" class="form-control" id="hnumb" ng-model="userLogedIn.hnumb" required>
			</div>
			<div class="form-group" id="outn"></div><br>
		<div class="form-group" id="outs"></div><br>
					<div class="alert alert-danger" id="alert9">
    			<a href="#" class="close" onclick="$('#alert9').hide()">&times;</a>
    			<strong>{{errormsg9}}</strong>
  		</div><br>			
		<div class="form-group">	
			<label for="zc">Zip Code: </label>
        	<input type="text" name="zip" onkeypress="focusZip()"class="form-control" id="zip" ng-model="userLogedIn.zip" required>
        </div>
        	<div class="form-group" id="outz"></div><br>
					<div class="alert alert-danger" id="alert10">
    			<a href="#" class="close" onclick="$('#alert10').hide()">&times;</a>
    			<strong>{{errormsg10}}</strong>
  		</div><br>	
  		<br>
        <div class="form-group">
        	<label for="photo">Photo: </label>
        	<input type="text" class="form-control" id="photo" placeholder="Photo URL" ng-model="userLogedIn.userImageUrl">
        </div><br>
 <br>
        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click='Update()'>Update</button>
      </form>
    </div>
</body>
</html>