<link rel="stylesheet" href="stylesheets/userDetails.css">
<div  >
	<a href="" class="ebook-dateils-a"><img class="col-xs-6 col-sm-6 col-lg-5 img-cover-wrapper ebook-img "
		src={{$ctrl.user.userImageUrl}}>
		<div class="ebook-details-no-img"> 
	<ul class='col-xs-12 col-sm-6 col-lg-7 details-list list-unstyled'>
		<li><span>Name: <em><strong>"{{$ctrl.user.userName}}"</strong></em></span></li>
		<li><span>Nickname: <h4> <em><strong>{{$ctrl.user.userNickname}}</h4></strong></em></span></li>
		<li><span>email: <em><strong>{{$ctrl.user.email}}</strong></em></span></li>
	</ul>
	
		</a>
		<button   data-toggle="modal" data-book-id="my_id_value" class="button btn-danger" ng-click="$ctrl.confirmDeleteUser()" > Delete User</button> 
		
		
			<!-- Modal -->
	<div class="modal container" id="confirmDeleteUserModal" role="dialog" >
		<div class="modal-dialog .modal-sm">

			<!-- Modal content-->
			<div class="modal-content col-xs-12">
				<div class="modal-header">
					<button type="button" class="close  " data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Are you sure you would like to delete user?</h4>

				</div>
				<div class="col-xs-6">
					<button type="button" class="btn btn-default"
						ng-click="$ctrl.deleteUser(true)">Yes</button>
						</div>
							<div class="col-xs-6">
					<button type="button" class="btn btn-default "
						ng-click="$ctrl.deleteUser(false)">No</button>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>


			</div>

		</div>
	</div>
		
		
	</div>

</div>


