

.buy-read  {
	padding: 0;
	margin: 0;
}
/*
.buy-read * {
	padding: 0;
	margin: 0;
}

*/
.btn-info{
	padding: 10px;
}

/*.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
   text-align: center;
     vertical-align: middle;
       justify-content: center;
       align-items: center;
     
   
  
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 80%;
  height: 80%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #3c7dcf;
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  border: 0;
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  line-height: 30px;
}

.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 80%;
  font-weight: 300;
  overflow: auto;
  
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
} */