<link rel="stylesheet" href="ebookPage/buyRead/buyRead.css">



<div class='row' id='buyRead' >
	<div class='col-xs-2 col-sm-8'>
		<likes-list class="col-xs-2 col-sm-2" ebook-id="$ctrl.ebook.bookId"
			is-user-liked="$ctrl.isUserliked"
			is-user-purchased="$isUserPurchased"></likes-list>
		<div>{{$ctrl.ebook.bookId}}</div>
		<button ng-if="!$ctrl.ebook.isPurchased" type="button" ng-click="$ctrl.funn('PaymantForm/payPage.html')"
			class="btn btn-info btn-lg" data-toggle="modal"
			data-target="#myModalBuy" >Buy</button>
		<!-- <a href="#"> <span class="glyphicon glyphicon-thumbs-up"></span> 		</a>  -->
		<button ng-if="$ctrl.ebook.isPurchased" ng-click="$ctrl.clickedRead()"
			type="button" class="btn btn-info btn-lg">Read</button>
			
			
			
		<button ng-if="!$ctrl.ebook.isLiked" type="button" class="btn btn-primary"
			ng-click="$ctrl.submitLike()">Like</button>
		<button ng-if="$ctrl.ebook.isLiked" type="button" class="btn btn-primary"
			ng-click="$ctrl.submitLike()">unlike</button>

	</div>

	<!-- Modal -->
	<div class="modal " id="myModalBuy" role="dialog">
		<div class="modal-dialog .modal-lg">

			<!-- Modal content-->
			<div class="modal-content">


				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Pay Here!</h4>
				</div>
				<div class="modal-body">
					<p>ENTER CREDIT CARD AND OTHER BILLING DETAILS.</p>
					<input></input> <input></input> <input></input> <input></input> <input></input>
					<input></input>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

<!-- 	<!-- Modal -->
<!-- 	<div class="modal " id="myModalRead" role="dialog"> -->
<!-- 		<div class="modal-dialog .modal-lg"> -->

<!-- 			<!-- Modal content--> 
<!-- 			<div class="modal-content"> -->


<!-- 				<div class="modal-header"> -->
<!-- 					<button type="button" class="close" data-dismiss="modal">&times;</button> -->
<!-- 					<h4 class="modal-title">Pay Here!</h4> -->
<!-- 					<button type="button" class="btn btn-outline-info" -->
<!-- 						ng-click="$ctrl.goToLastScroll()">Info</button> -->
<!-- 				</div> -->
<!-- 				<div ng-scroll="ctrl.scrolled()" class="modal-body" -->
<!-- 					id="myModalReadBody"> -->
<!-- 					<p>ENTER CREDIT CARD AND OTHER BILLING DETAILS.</p> -->
<!-- 					<div id="bookContentId" ng-include="$ctrl.curReadEbook"></div> -->


<!-- 				</div> -->
<!-- 				<div class="modal-footer"> -->
<!-- 					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
<!-- 				</div> -->
<!-- 			</div> -->

<!-- 		</div> -->
<!-- 	</div> -->


	<!-- Modal -->
	<div class="modal " id="myModalScroll" role="dialog">
		<div class="modal-dialog .modal-lg">

			<!-- Modal content-->
			<div class="modal-content">


				<div class="modal-header">
						<div>{{$ctrl.ebook.bookId}}</div>
						iija<div>{{curEbookIdd}}</div>
						
				
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Pay Here!</h4>
					<button type="button" class="btn btn-outline-info"
						ng-click="$ctrl.goToLastScroll(true)">Yes</button>
					<button type="button" class="btn btn-outline-info"
						ng-click="$ctrl.goToLastScroll(false)">No</button>
				</div>


			</div>

		</div>
	</div>



</div>




