 <!-- <meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 -->






<head>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<!--<link rel="stylesheet" href="userDetails/userDetails.css">-->
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
	<script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="udetailsAndularHandler.js"></script>

	
	<meta charset="UTF-8">
	<title>User Profile</title>	
</head>
<body id="registration">
	<script type="text/javascript" src="jquery-3.2.1.js"></script>
	<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
	<div class="container ng-scope" ng-app="RegLogic" ng-controller="Ctrl">
      <form class="form-inline" method="post">
        <h3 class="form-heading">User Details</h3>
        <div class="form-group">
        	<label for="name">Name: </label>
        	<input type="text" class="form-control" placeholder="Name" id="name" maxlength="10" required ng-model="name">
        </div><br>
        <div class="alert alert-danger" id="alert2">
    		<a href="#" class="close" onclick="$('#alert2').hide()">&times;</a>
    		<strong>{{error}}</strong>{{errormsgg}}
  		</div>
        <div class="form-group">
        	<label for="nick">Nickname: </label>
        	<input type="text" class="form-control" value = {{name1}} placeholder="Nickname" id="nick" maxlength="20" required ng-model="nick">
        </div><br>
        <div class="form-group">
        	<label for="pwd">Password: </label>
        	<input type="password" name="pass" onkeypress="focusPassword()" class="form-control" placeholder="Password" id="pwd" maxlength="8" required ng-model="pwd">
        	<div class="form-group" id="out"></div>
        </div><br>



        <br>
        <div class="form-group">
        	<label for="desc">Description: </label>
        	<textarea maxlength="300" rows="4" cols="50"  class="form-control" id="desc" ng-model="desc"></textarea>
        </div><br>
		<div class="form-group">
        	<label for="email">Email: </label>
        	<input type="email" value = {{email}} class="form-control" placeholder="Email" id="email" ng-model="email" required>
        </div><br>
		<div class="form-group">
        	<label for="email">Phone Number: </label>
        	<input type="text" name="phone" onkeypress="focusPhone()" class="form-control" id="phone" ng-model="phone" required>
        	<div class="form-group" id="outp"></div><br>
        </div><br>
			
		<div class="form-group">
			<label for="cntry">Country: </label>
        	<input type="text" name="country" onkeypress="focusCountry()" class="form-control" id="cntr"  ng-model="country" required>
			</div>
			<div class="form-group" id="outc"></div><br>
		<div class="form-group">	
			<label for="city">City: </label>
        	<input type="text" name="city" onkeypress="focusCity()"class="form-control" id="city" ng-model="city" required>
			</div>
			<div class="form-group" id="outci"></div><br>
		<div class="form-group">	
			<label for="city">Street: </label>
        	<input type="text" name="street" onkeypress="focusStreet()"class="form-control" id="street" ng-model="street" required>
			</div>
			
			<div class="form-group" id="outs"></div><br>
		<div class="form-group">
		    <label for="hnum">Number: </label>
        	<input type="text" name="hnumb" onkeypress="focushNumber()" class="form-control" id="hnumb" ng-model="hnumb" required>
			</div>
			<div class="form-group" id="outn"></div><br>
		<div class="form-group">	
			<label for="zc">Zip Code: </label>
        	<input type="text" name="zip" onkeypress="focusZip()"class="form-control" id="zip" ng-model="zip" required>
        </div>
		<div class="form-group" id="outz"></div><br>
        <div class="form-group">
        	<label for="photo">Photo: </label>
        	<input type="text" class="form-control" id="photo" placeholder="Photo URL" ng-model="photo">
        </div><br><br>
        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click='Update()'>Update</button>
      </form>
    </div>
