body {
	background: #f5f5f5;
}

body, html {
    height: 100%;
}

footer {
    margin-top: -50px;
    height: 50px;
    background: green;
}


.content {
    min-height: 100%;
    padding-bottom: 50px;
}

* {
	    box-sizing: border-box;

}



img, .figcenter {
	
	max-width: 100%;
} 

.modal-register {
	width: 100%;
	
}